name: Publish to npm on release

on:
  push:
    tags:
      - 'v*'
      
permissions:
  id-token: write  # Required for OIDC
  contents: read
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
          token: none
          scope: '@meta2d'

      - uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Install dependencies
        run: |
          pnpm i

      - name: Build
        run: |
          pnpm build

      - name: Extract version from tag
        id: extract_version
        run: echo "::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}"

      - name: Update core version
        run: |
          cd dist/core
          npm version ${{ steps.extract_version.outputs.VERSION }} --no-git-tag-version

      - name: Update meta2d.js version
        run: |
          cd dist/meta2d.js
          npm version ${{ steps.extract_version.outputs.VERSION }} --no-git-tag-version

      - name: Publish core
        run: |
          cd dist/core
          npm publish --access public 
        continue-on-error: true

      - name: Publish meta2d.js
        run: |
          cd dist/meta2d.js
          npm publish --access public
        continue-on-error: true

      - name: Publish activity
        run: |
          cd dist/activity-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish chart
        run: |
          cd dist/chart-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish class
        run: |
          cd dist/class-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish flow
        run: |
          cd dist/flow-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish form
        run: |
          cd dist/form-diagram
          npm publish --access public 
        continue-on-error: true

      - name: Publish fta
        run: |
          cd dist/fta-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish le5le-charts
        run: |
          cd dist/le5le-charts
          npm publish --access public 
        continue-on-error: true

      - name: Publish sequence
        run: |
          cd dist/sequence-diagram
          npm publish --access public
        continue-on-error: true

      - name: Publish plugin-mind-collapse
        run: |
          cd dist/plugin-mind-collapse
          npm publish --access public
        continue-on-error: true

      - name: Publish plugin-mind-core
        run: |
          cd dist/plugin-mind-core
          npm publish --access public
        continue-on-error: true

      - name: Publish svg
        run: |
          cd dist/svg
          npm publish --access public
        continue-on-error: true

      - name: Publish utils
        run: |
          cd dist/utils
          npm publish --access public
        continue-on-error: true
      
      - name: Publish vue
        run: |
          cd dist/vue
          npm publish --access public
        continue-on-error: true
